<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Telecommunications Engineering, Telematics</h1>
            <span>Universitat Politècnica de Catalunya</span>
            <span><address>Barcelona, Spain</address><time>2006 to 2010</time></span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>CFGS Telecommunication Systems and Computers</h1>
            <span>IES Escola del Treball</span>
            <span><address>Barcelona, Spain</address><time>2004 to 2005</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>CFGM Electronic Devices</h1>
            <span>IES Escola del Treball</span>
            <span><address>Barcelona, Spain</address><time>2002 to 2003</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
    <h1>LANGUAGES</h1>
    <article>
        <header>
            <p>
                <h1>English:    <em>B2</em></h1>
            <p>
            <p>
                <h1>Spanish:    <em>Native</em></h1>
            <p>
            <p>
                <h1>Catalan:    <em>Native</em></h1>
            <p>
        </header>
    </article> 
    <h1>CERTIFICATIONS</h1>
    <article>
        <header>
            <h1>Certified Kubernetes Administrator</h1>
        </header>
        <header>
            <h1>Google Professional Cloud Architect</h1>
        </header>
        <header>
            <h1>Google Professional Cloud Network Engineer</h1>
        </header>
        <header>
            <h1>Google Professional Cloud Security Engineer</h1>
        </header>
        <header>
            <h1>Google Associate Cloud Engineer</h1>
        </header>
        <header>
            <h1>Microsoft AZ900</h1>
        </header>
    </article>        
</section>
