<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Cloud Architect, NTT</h1>
            <span><address>Barcelona, Spain</address><time>2020 to Present</time></span>
        </header>
        <p>Design and implement technical solutions aligned with customer needs and business goals. </p>
        <p>Collaborate with Presales team to design and deliver complex solutions for new customers, leveraging expertise in cloud computing, networking, and security. </p>
        <p>Lead product certification efforts to ensure successful integration of new products into existing customer environments. </p>
        <p></p>Provide technical guidance and support to Operations and Product teams, resolving technical issues and optimizing system performance. </p>
    </article>
    <article>
        <header>
            <h1>Subject Matter Expert, Webhelp</h1>
            <span><address>Barcelona, Spain</address><time>2018 to 2020</time></span>
        </header>
        <p>Coach and mentor team members, providing guidance on technical issues related to Google Cloud Platform. </p>
        <p>Facilitate group meetings to share best practices and optimize team performance. </p>
        <p>Resolve complex technical issues for GCP customers, leveraging expertise in Kubernetes, Docker, and other cloud technologies. </p>
    </article>
    <article>
        <header>
            <h1>Technical Solutions Representative, Webhelp</h1>
            <span><address>Barcelona, Spain</address><time>2017 to 2018</time></span>
        </header>
        <p>Provided technical support for Google Cloud Platform customers, resolving issues related to Kubernetes, Docker, instances, Cloud Interconnect, Cloud VPN, Load Balancing, DNS, and CDN. </p>
        <p>Collaborated with cross-functional teams to identify and resolve complex technical issues, ensuring high levels of customer satisfaction. </p>
    </article>
    <article>
        <header>
            <h1>System Engineer, Intelligent Pharma</h1>
            <span><address>Barcelona, Spain</address><time>2016 to 2017</time></span>
        </header>
        <p>Managed High Performance Computing (HPC) systems and hybrid clouds, implementing Agile methodologies using SCRUM for project management. </p>
        <p>Worked with Docker clusters using Swarm, improving system performance and scalability. </p>
        <p>Collaborated with cross-functional teams to implement system improvements and upgrades, ensuring optimal system performance and stability. </p>
    </article>
    <article>
        <header>
            <h1>System Administrator, Disvirtual</h1>
            <span><address>Barcelona, Spain</address><time>2015 to 2016</time></span>
        </header>
        <p> Managed infrastructure with hypervisors VMware ESXi, ensuring optimal system performance and stability. </p>
        <p> Registered and managed domains with Plesk, and programmed and controlled backup tasks. </p>
        <p> Planned and maintained disaster recovery with AWS, ensuring data protection and business continuity. </p>
        <p> Provided technical support to clients, resolving issues related to infrastructure, networking, and security. </p>
    </article>
    <article>
        <header>
            <h1>Web Developer, Freelance</h1>
            <span><address>Bangkok, Thiland</address><time>2014 to 2015</time></span>
        </header>
        <p> Developed websites using Joomla, Wordpress, and Prestashop, ensuring high levels of usability and security. </p>
        <p> Utilized technologies such as CSS3 and PHP5 to enhance site performance and functionality. </p>
        <p> Improved site security with Openvas, ensuring protection against common web-based threats. </p>
    </article>
    <article>
        <header>
            <h1>System Administrator, Fedefarma</h1>
            <span><address>Barcelona, Spain</address><time>2011 to 2013</time></span>
        </header>
        <p> Managed around 200 servers for a pharmaceutical distributor, utilizing AIX,Linux, and Windows operating systems. </p>
        <p> Developed scripts in Bash, Perl, and Python, optimizing system performance and automation. </p>
        <p> Managed the database in SQL Server, ensuring high levels of data integrity and availability. </p>
        <p> Implemented system improvements, upgrades, and backups, ensuring optimal system performance and stability. </p>
    </article>
    <article>
        <header>
            <h1>System Operator, Nextret</h1>
            <span><address>Barcelona, Spain</address><time>2011 to 2013</time></span>
        </header>
        <p> Monitored network and system performance using Nagios and Cacti, resolving issues related to hardware, software, and networking. </p>
        <p> Provided technical support to users and stores for the Fedefarma project, ensuring high levels of customer satisfaction. </p>
    </article>
</section>
