<section class="thirteen columns">
    <h1>VOLUNTEERING AND INTERNSHIPS</h1>
    <article>
        <header>
            <h1>IT Support</h1>
            <span><address>Kincardine Community Centre, Edinburgh, UK</address><time>2014</time></span>
        </header>
        <p>
            Volunteered as IT support, developing and maintaining the community center's website and social media presence
            Provided technical support to users and customers, resolving issues related to hardware, software, and networking
        </p>
    </article>
    <article>
        <header>
            <h1>IT Service Desk Intern</h1>
            <span><address>Fundación ESADE, Barcelona, Spain</address><time>2009</time></span>
        </header>
        <p> 
            Provided technical support to teachers and students from the University of ESADE, resolving issues related to Microsoft Office, email accounts, internet, and multimedia
            Managed issues by telephone, on-site, or by remote control, ensuring prompt and effective resolution
        </p>
    </article>
</section>
